Debug/src/*.o
Debug/src/*.d
Debug/asm/*.o
Debug/cnn/*.o
Debug/cnn/*.d
obj/*
Backup/ArmV82_Keras_CNN_Inference__1130.zip
cifar-10/SaveModel/CifarModelCnnParamsCnn_v2_layer10.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v1_layer00.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v1_layer08.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v1_layer03.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v2_layer00.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v2_layer08.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v2_layer03.json
cifar-10/SaveModel/CifarModelCnnParamsCnn_v1_layer10.json
cifar-10/cifar-10-binary.tar.gz
Fastline/FastlineReport/*
*.o
*.o
